 
<div id="smooth-wrapper">
    <div id="smooth-content">
<section class="contact-page-sec mt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="contact-info">
            <div class="contact-info-item">
              <div class="contact-info-icon">
                <i class="fas fa-map-marked"></i>
              </div>
              <div class="contact-info-text">
                <h2>address</h2>
                <span>249/1 A At Nandikurali Tal Raibag Dist Belagavi
           </span> 
                <span>591317-Karnataka , INDIA</span> 
              </div>
            </div>            
          </div>          
        </div>          
        <div class="col-md-4">
          <div class="contact-info">
            <div class="contact-info-item">
              <div class="contact-info-icon">
                <i class="fas fa-envelope"></i>
              </div>
              <div class="contact-info-text">
                <h2>E-mail</h2>
                <span>gflrbg@gmail.com</span> 
                <span></span>
              </div>
            </div>            
          </div>                
        </div>                
        <div class="col-md-4">
          <div class="contact-info">
            <div class="contact-info-item">
              <div class="contact-info-icon">
                <i class="fas fa-clock"></i>
              </div>
              <div class="contact-info-text">
                <h2>office time</h2>
                <span>Mon-Sat   9:00 am - 6.00 pm</span>
                <span></span>
              </div>
            </div>            
          </div>          
        </div>          
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="contact-page-form" method="post">
            <h2>Get in Touch</h2> 
            <form action="contact-mail.php" autocomplete="off" method="post">
              <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="single-input-field">
                  <input type="text" class="form-control" placeholder="Your Name" autocomplete="off" name="name"/>
                </div>
              </div>  
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="single-input-field">
                  <input type="email" class="form-control"  placeholder="E-mail" autocomplete="off" name="email" required/>
                </div>
              </div>                              
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="single-input-field">
                  <input type="text" class="form-control"  placeholder="Phone Number" autocomplete="off" name="phone"/>
                </div>
              </div>  
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="single-input-field">
                  <input type="text" class="form-control"  placeholder="Subject" autocomplete="off" name="subject"/>
                </div>
              </div>                
              <div class="col-md-12 message-input">
                <div class="single-input-field">
                  <textarea class="form-control"   placeholder="Write Your Message" autocomplete="off" name="message"></textarea>
                </div>
              </div>                                                
              <div class="single-input-fieldsbtn">
                <input type="submit" value="Send Now"/>
              </div>                          
            </div>
            </form>   
          </div>      
        </div>
        <div class="col-md-4">        
          <div class="contact-page-map">
            <!-- <iframe src="https://www.google.com/maps/place/GHATPRABHA+FERTILIZERS+PVT+LTD./@16.4884575,74.7336208,17z/data=!3m1!4b1!4m6!3m5!1s0x3bc0c5e7699aa8b1:0x40dc66b3fa0d5341!8m2!3d16.4884575!4d74.7336208!16s%2Fg%2F11sh739z73?entry=ttu&g_ep=EgoyMDI1MTIwOS4wIKXMDSoASAFQAw%3D%3D" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->
          <div class="map-container">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3819.744017977422!2d74.7310453!3d16.4884575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc0c5e7699aa8b1%3A0x40dc66b3fa0d5341!2sGHATPRABHA%20FERTILIZERS%20PVT%20LTD.!5e0!3m2!1sen!2sin!4v1734090000000"
    allowfullscreen
    loading="lazy">
  </iframe>
</div>
          </div>          
        </div>        
      </div>
    </div>
  </section>
  <app-footer />
  </div>
</div>