<!-- Footer -->
<footer class="bg-dark text-light pt-5 pb-3 mt-5">
  <div class="container-fluid">
    <div class="row myfooter">

      <!-- Company Info -->
      <div class="col-md-3 mb-4 text-center">
        <img src="assets/Img/GFL Logo.png" style="width: 8rem;" alt="LOGO">
        <p>
          Manufacturers of high-quality Fertilizers, Soil Conditioners,
          and Agricultural inputs since 2005.
        </p>
      </div>

      <!-- Quick Links -->
      <div class="col-6 col-md-2 mb-4 offset-md-1">
        <h5 class="fw-bold" style="color: orangered;">Quick Links</h5>
        <ul class="list">
          <li><a  [routerLink]="['/Homepage']"  class=" text-decoration-none">Home</a></li>
          <li><a [routerLink]="['/About']" class=" text-decoration-none">About</a></li>
          <li><a [routerLink]="['/Product']" class="  text-decoration-none">Products</a></li>
          <!-- <li><a [routerLink]="/process" class=" text-decoration-none">Process</a></li> -->
          <li><a [routerLink]="['/Contact']" class=" text-decoration-none">Contact</a></li>
        </ul>
      </div>

      <!-- Products -->
      <div class="col-6 col-md-2 mb-4">
        <h5 class="fw-bold " style="color: orangered;">Our Products</h5>
        <ul class="list">
          <li>NPK Mix Fertilizers</li>
          <li>Soil Conditioners</li>
          <li>Organic Manure</li>
          <li>Micronutrients</li>
          <li>Bio Fertilizers</li>
          <li>Liquid Fertilizers</li>
          <!-- <li>PROM & PDM</li> -->
          <li>Water Soluble</li>
        </ul>
      </div>


      <!-- Ghatprabha Fertilizers Pvt Ltd
249/1 A  At Nandikurali Tal Raibag Dist Belagavi
591317-Karnataka -->
      <!-- Contact -->
      <div class="col-md-3 mb-4 isSmall">
        <h5 class="fw-bold" style="color: orangered;">Contact Us</h5>
        <p class="mb-3" style="font-size: 0.8rem;line-height: 20px;">
          <strong> <i class="fas fa-solid fa-location-dot text-danger"></i>: </strong> 249/1 A At Nandikurali Tal Raibag Dist Belagavi
          591317-Karnataka</p>
        <p class="mb-3"  style="font-size: 0.8rem;line-height: 20px;"><strong><i class="fas fa-solid fa-phone text-danger"></i>:</strong> +91 8970651800</p>
        <p class="mb-2"  style="font-size: 0.8rem;line-height: 20px;"><strong><i class="fas fa-solid fa-at  text-danger"></i>:</strong> gflrbg@gmail.com</p>
      </div>

    </div>

    <hr style="border: 1px solid orangered;">

    <div class="text-center">
      © 2025 Ghatprabha Fertilizers Pvt. Ltd. All Rights Reserved.
    </div>
  </div>
</footer>
<!-- End Footer -->