.drowar1 {
  z-index: 2;
  position: fixed;
  right: 50px;
  bottom: 70px;
  padding: 3px;
  height: 50px;
  width: 50px;
}

.wappbtn {
  z-index: 2;
  right: 50px;
  bottom: 70px;
  padding: 3px;
  height: 50px;
  width: 50px;
   
  color: #fff;
}

.drowar {
  z-index: 2;
  position: fixed;
  right: 50px;
  bottom: 70px;
  padding: 3px;
  height: 50px;
  width: 50px;
  background-color: cadetblue;
  color: #fff;
}
