@switch (mode.name) {

@case ("npkMixture") {
<div class="container mt-5" style="margin-top: 6rem !important;">
    <div class="row">
        <!-- Product Images -->
        <div class="col-md-6 mb-4">
            <img src="assets/Img/Product/neembased.png" alt="Product" class="img-fluid rounded mb-3 product-image"
                id="mainImage">
        </div>

        <!-- Product Details -->
        <div class="col-md-6">
            <h2 class="mb-3">NPK Mix Fertilizers</h2>



            <p class="mb-4">The <strong> NPK mixture fertilizer </strong> is a better and more economical alternative to
                complex fertilizers. Available in granular form, these chemical-based fertilizers are sold exclusively
                in the market and have gained wide acceptability due to their superior quality standards. </p>


            <div class="mt-4">
                These fertilizers containing all major nutrients essential for plant growth and development, they are
                customized as per government-approved fertilizer grades and are marketed across India under the brand
                name <strong> “Bhumata”</strong>.
            </div>

        </div>
    </div>
</div>
}

@case ("lqdFT") {
<div class="container mt-5" style="margin-top: 6rem !important;">
    <div class="row">
        <!-- Product Images -->
        <div class="col-md-6 mb-4">
            <img src="assets/Img/Product/liquidFertilizers.jpeg" alt="Product"
                class="img-fluid rounded mb-3 product-image" id="mainImage">
        </div>

        <!-- Product Details -->
        <div class="col-md-6">
            <h2 class="mb-3">Liquid Fertilizers</h2>



            <p class="mb-4">Liquas is a range of liquid fertilizers. This balanced formula ensures easy availability and
                absorption of macronutrients.</p>

            <div>
                <strong>Key Features: </strong>
                <ul>
                    <li>Advanced Quick Absorption Technology for instant nutrient uptake</li>
                    <li>Enriched with essential micronutrients and trace elements</li>
                    <li>Fortified with natural proteins and vital vitamins</li>
                    <li>Completely free from harmful salts</li>
                    <li>Ideal for both foliar spray and drip irrigation applications</li>
                </ul>
            </div>

            <div class="mt-4">
                <strong>Dosage & Application:</strong>

                <ol>
                    <li>Drip Irrigation: Apply 1 to 1.5 liters per acre.</li>
                    <li>Foliar Spray: Use 2 to 3 ml per liter of water.</li>
                </ol>
                Apply 2–3 times at intervals of 15–20 days, depending on the crop stage.
            </div>

        </div>
    </div>
</div>
}

@case ("bpcfrtilizer") {

<div class="container mt-5" style="margin-top: 6rem !important;">
    <div class="row">
        <!-- Product Images -->
        <div class="col-md-6 mb-4">
            <img src="assets/Img/Product/_bpc.png" alt="Product" class="img-fluid rounded mb-3 product-image"
                id="mainImage">
        </div>

        <!-- Product Details -->
        <div class="col-md-6">
            <h2 class="mb-3">Polyhalite Based Speciality Fertilizer</h2>

            <p>These fertilizers are polyhalite-based, multi-nutrient compounded fertilizers that are nearly 100% water
                soluble. </p>

            <p class="mb-4">Polyhalite is a naturally occurring mineral sourced from rock layers located more than 1,000
                meters below the North Sea, off the coast of North Yorkshire, UK. </p>


            <div class="mt-4">
                Using advanced multi-stage G2D Nodens Technology™, the polyhalite is processed into granules with a
                unique composition that preserves all its beneficial characteristics while enhancing solubility,
                nutrient availability, and hygroscopicity.
            </div>

            <p>This fertilizer technology delivers almost <strong> double the potency of standard polyhalite</strong>,
                with products that release nutrients gradually, ensuring prolonged and effective action in the field and
                thereby increasing Nutrient Use Efficiency (NUE).</p>
        </div>
    </div>
</div>
}

@case ("soilcndtr1") {
<div class="container mt-5" style="margin-top: 6rem !important;">
    <div class="row">
        <!-- Product Images -->
        <div class="col-md-6 mb-4">
            <img src="assets/Img/Product/cilicon1.png" alt="Product" class="img-fluid rounded mb-3 product-image"
                id="mainImage">
        </div>

        <!-- Product Details -->
        <div class="col-md-6">
            <h2 class="mb-3">Nature Silicon Soil Conditioners</h2>

            <p>Nature Silicon provides plants and crops with natural amorphous silica, an essential element in plant
                nutrition.</p>

            <p class="mb-4">It helps in soil conditioning along with other key ingredients that play a proven role in
                improving fertilizer use efficiency. </p>


            <div class="mt-4">
                The blend of ingredients in this product triggers plant physiological and metabolic processes,
                optimizing plant growth and development to achieve high-quality production at lower application doses.
            </div>

            <p class="mt-4 "> <strong> Crops: Suitable for all crops</strong> <br>
                Packing: Available in 40 kg bags
                 
            </p>
        </div>
    </div>
</div>

}

@case ("soilcndtr2")
{
<div class="container mt-5" style="margin-top: 6rem !important;">
    <div class="row">
        <!-- Product Images -->
        <div class="col-md-6 mb-4">
            <img src="assets/Img/Product/RealBag.png" alt="Product" class="img-fluid rounded mb-3 product-image"
                id="mainImage">
        </div>

        <!-- Product Details -->
        <div class="col-md-6">
            <h2 class="mb-3">Soil Conditioners</h2>



            <p class="mb-4">Soil conditioners are used to correct soil pH levels by supplying essential secondary
                nutrients. They enhance nutrient availability in the soil, thereby improving crop growth and
                productivity.</p>

            <p>BHUMATA REAL is an ideal nutrient supplement containing calcium, magnesium, and sulphur, which are
                essential for healthy plant growth and soil improvement.</p>

            <div>
                <strong>Key Features: </strong>
                <ul>
                    <li>Corrects soil salinity and alkalinity</li>
                    <li>Maintains ideal soil electrical conductivity (EC)</li>
                    <li>Enhances photosynthesis and improves chlorophyll formation</li>
                    <li>Increases crop resistance to pests and diseases</li>
                    <li>Helps crops tolerate drought conditions</li>
                    <li>Improves overall yield and quality of produce</li>
                </ul>
            </div>

            <div class="mt-4">
                <strong>Dosage & Application:</strong>
                <p>Dosage depends on soil pH level <br>
                    Soil pH-wise Dosage Recommendation</p>

                <img src="assets/Img/soilcndtrDose.jpeg" style="width: 50%;" alt="Soil Conditioner Dose"> <br>

                <p> Apply 15 days before sowing or transplanting <br>
                    Perennial Crops <br>
                    Apply during April to June or October to January <br>
                    Preferably apply 2 weeks before fertilizer application</p>

                Packing
                Available in 50 kg bags
            </div>

        </div>
    </div>
</div>
}

@case("orgmnr"){
<div class="container mt-5" style="margin-top: 6rem !important;">
    <div class="row">
        <!-- Product Images -->
        <div class="col-md-6 mb-4">
            <img src="assets/Img/Product/potashDerivedfrommolases.png" alt="Product"
                class="img-fluid rounded mb-3 product-image" id="mainImage">
        </div>

        <!-- Product Details -->
        <div class="col-md-6">
            <h2 class="mb-3">Organic Manure</h2>

            <p>Organic fertilizers are eco-friendly and are manufactured from naturally derived materials.
                They provide slow-release phosphorus (PROM) and potash (PDM), which improve soil health, enhance water
                retention, and strengthen plant immunity. These fertilizers are ideal for sustainable farming, as they
                reduce reliance on chemical fertilizers.</p>

            <p class="mb-4">PROM promotes strong root growth by supplying organic phosphorus, while PDM enhances
                flowering, improves fruit quality, and increases drought resistance. Together, they enrich soil
                structure and support beneficial microbial activity, resulting in better crop yields.
                Soil Type: Suitable for all soil types </p>


            <div class="mt-4">
                Crops: Suitable for all crops
            </div>

            <p>Packing: Available in 50 kg bags</p>
        </div>
    </div>
</div>
}

}

<app-footer />